.biggie {
  background-Color : rgb(184, 184, 184);
  width : 196vh;
  align-Items : center ;
  justify-Content: 'center';
  margin-Left : 30px


}

.slider {
  display: flex;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.slide {
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.footer {
  background-color: #161616;
  color: #fff;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  flex-basis: 50%;
}

.footer-right {
  flex-basis: 50%;
  margin-left: 60%;
}

.footer h3 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer p {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 0.8rem;
}


.library-item {
  width: 170px;
  height: 170px;
  margin: 20px;
  position: relative;
  text-align: center;
}

.library-item img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.library-item p {
  margin: 5px;
  color: #333;
  align-items: left;
}

.library-item .title {
  color: #333;
}
.song-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 20px);
  margin-bottom: 40px;
}

.song-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
}

.song-info h2 {
  font-size: 24px;
  margin: 0;
}

.song-info p {
  font-size: 18px;
  margin: 5px 0 0 0;
}

@media only screen and (max-width: 768px) {
  .song-info {
    width: 100%;
  }
}
