.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:  200.9vh;;
}

.form-container {
  width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 80vh;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="datetime-local"],
.form-container input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 1vh;
  margin-right: 2vh;
}

.form-container button[type="button"] {
  background-color: #b6b6b6;
  margin-right: 8px;
}
.upload {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
background-color: rgb(216, 216, 216);
   background-Size: 'cover';
    background-Position: 'center';
  width:  200.9vh;
  height: 190vh;
  align-Items : center ;
  justify-Content: 'center';
  margin-Left : 22px
}

.uploadbutton {
  margin-bottom: 140vh;
}